<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js.map"></script>
<style>
    body {
        transition: all .8s ease-out;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
    }

    .top-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style-type: none;
        width: 100%;
        background-color: black;
        padding: 0;
        margin: 0;
    }

    .top-list a {
        text-decoration: none;
        color: white;
        float: left;
        width: 10%;
        margin: 1em;
    }

    .top-list li:hover {
        color: black;
        background-color: slategray;
        transition: all .8s ease-out;
    }

    .side-bar {
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #111;
        padding: 0;
        margin: 0;
        width: 0px;
        height: 100%;
        opacity: 0.9;
        display: none;
    }

    .side-bar a {
        display: block;
        text-decoration: none;
        color: antiquewhite;
        padding: 8px;
    }

    .side-bar li:hover {
        background-color: rgb(62, 157, 201);
        color: #111;
        transition: all .8s ease-out;
    }

    .side-list {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 1em;
        list-style-type: none;
        width: 20%;
        height: 100%;
        background-color: #111;
        opacity: .9;

    }

    .updates:focus #updateSection::after {
    content: "updateSection"

    }
</style>
<nav>
    <ul class="top-list">
        <li onclick="openSideBar()">
            <a style="font-size:20px">
                &#9776;
            </a>
        </li>
        <li>
            <a href="">
                <img src="" alt=""> </a>
        </li>
        <li>
            <a href="/">Komwledge Stream</a>
        </li>
        <li>
            <a href="/lib">Library</a>
        </li>
        <li>
            <a href="/abt"> About </a>
        </li>
    </ul>
    <ul class="side-bar">
        <li>
            <a href="#" onclick="closeSideBar()" style="font-size:.3in;color:red">
                <b>&times; </b>
            </a>
        </li>
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="/lib">Logout</a>
        </li>
        <li>
            <a href="/abt"> Sitting </a>
        </li>
    </ul>
</nav>
<br>
<script>
    function openSideBar() {
        let x = document.querySelector(".side-bar")
        x.style.display == 'none'
        document.querySelector(".side-bar").style.display = 'block';
        document.querySelector(".side-bar").style.width = '200px';
        document.querySelector(".side-bar").style.transition = 'all .5s ease-out';
        document.querySelector(".updates").style.marginLeft = '200px'
        document.querySelector(".updates").style.transition = 'all .5s ease-out';
    }
    function closeSideBar() {
        document.querySelector(".side-bar").style.display = 'none';
        document.querySelector(".side-bar").style.width = '0';
        document.querySelector(".updates").style.marginLeft = '0'
    }
    let U = document.getElementsByClassName('uData')
    U.onClick = function showStatus() {
        console.log("woof")
        let sec = document.getElementById('updateSection')
        sec.innerHTML = 'No updates now check later';
        sec.style.color = 'white';
    }
</script>